.a {
    height: 100px;
    width: 100px;
    background-color: red;
}

.b {
    height: 100px;
    width: 100px;
    background-color: green;
    border-radius: 100px;
}

.c {
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

.d {
    background-color: black;
    width: 350px;
}

.Youtube {
    color: White;
    font-size: 25px;
    margin-bottom: 10px;
}

.Description {
    color: grey;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}