.thumbnail{
    width: 300px;
}

.search_bar {
    display:block;
}

.video_title {
    width: 300px;
}

.video_preview {
    width: 300px;
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
}